<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="footer">
            <footer class="pb-70">


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="footer-item">
                            <div class="footer-contact">
                                <h3>Contact Us</h3>
                                <ul>
                                    <li>
                                        <i class="icofont-ui-message"></i>
                                         
                                        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=doctorconsulation334@gmail.com">
                                           doctorconsulation334@gmail.com
                                        </a>
                                   
                                    </li>
                                    <li>
                                        <i class="icofont-stock-mobile"></i>
                                        <a href="tel:+07554332322">Call: +91 6280052768</a>
                                        
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-quick">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <a href="/AboutUs">About us</a>
                                    </li>
                                   
                                   
                                    <li>
                                        <a href="/FAQ">Faq</a>
                                    </li>
                                    <li>
                                        <a href="/UserShowDoctor">Doctors</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-quick">
                                <h3>Our Services</h3>
                                <ul>
                                    <li>
                                        <a href="/UserShowSpeciality">Dental Care</a>
                                    </li>
                                    <li>
                                        <a href="/UserShowSpeciality">Cardiology</a>
                                    </li>
                                    <li>
                                        <a href="/UserShowSpeciality">Neurology</a>
                                    </li>
                                    <li>
                                       <a href="/UserShowSpeciality">Dermatologist</a>
                                    </li>
                                    <li>
                                        <a href="/UserShowSpeciality">Orthopedic</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-feedback">
                                <h3>Feedback</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="your_message" rows="5" placeholder="Message"></textarea>
                                    </div>
                                    <div class="text-left">
                                        <button type="submit" class="btn feedback-btn">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
            
        </div>
    </body>
</html>
